@font-face {
    font-family: 'Meno Banner Extra Condensed';
    src: url('/fonts/MenoBannerExtraCondensed-Light.woff2') format('woff2'),
        url('/fonts/MenoBannerExtraCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
